<!DOCTYPE html>
<html>
    <head>
        <title>Status</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <h1><%= code %></h1>
            <hr width="50%">
            <p><%- message %></p>
        </div>
    </body>
</html>